extends layout

mixin loggedIn(isLoggedIn)
    if (!isLoggedIn)
        .col-12.col-md-6
            .card
                form(action = "/login/" method = "POST").col-12
                    .form-group 
                        label(for="userUsername")
                        input.form-control#userUsername(type = "text" placeholder = "Username" name = "username")
                    .form-group
                        label(for="userPassword")
                        input.form-control#userPassword(type = "password" placeholder="Password" name = "password")
                    button.btn.btn-primary(type="submit") #{title}

block content 
    .container
        .row 
            +loggedIn(isLoggedIn)
            .col-12.col-md-6
                h3 #{subtitle} 
                .card 
                    h2 #{message}
                    a(href=link.link) #{link.text}

                